<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.math.dao.TeachersDAO">

	<insert id="insertTeacher">
		insert into teachers(t_name,t_email,t_pswd,created) values
		(#{t_name},#{t_email},#{t_pswd},#{created})
	</insert>

</mapper>