<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.math.dao.TeachersDAO">

	<insert id="insertTeacher">
		INSERT INTO teachers(t_name,t_email,t_pswd,created,is_admin) VALUES
		(#{t_name},#{t_email},#{t_pswd},#{created},#{is_admin})
	</insert>
	
	<select id="emailExistChk" parameterType="String" resultType="int">
		SELECT COUNT(*) FROM teachers
		WHERE 
			t_email = #{t_email}
	</select>
	
	<select id="login" resultType = "TeachersVO">
		SELECT * FROM teachers WHERE t_email = #{t_email} AND t_pswd = #{t_pswd}
	</select>
	
	<select id="teachersList" resultType="hashmap" parameterType="int">
		SELECT t_id,t_name,t_phone,t_email,is_admin,DATE_FORMAT(created, '%Y-%m-%d %H:%i') AS created_ko FROM teachers WHERE t_status = #{t_status} ORDER BY t_id DESC
	</select>
	
	<update id="approveTeacher" parameterType="int">
		UPDATE teachers SET t_status = #{t_status}, is_admin = #{is_admin} WHERE t_id = #{t_id}
	</update>

</mapper>